{% extends "dropdown.html" %} {% block content %}
<center>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
</center>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #8a8484;
  }
</style>
<body style="background-color: #1ab2ff;">
  <br />
  <form action="#" method="post">
    <table align="center" border="2" padding="5">
      <thead>
        <tr>
          <th>Patient ID*</th>
          <th>Name></th>
          <th>Age</th>
          <th>Address</th>
          <th>DOJ</th>
          <th>Type of Room</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <input
            type="number"
            name="ssn"
            id="ssn"
            required
            value="{{values.ws_ssn}}"
          />
        </tr>
        <td>
          {{values.ws_ssn}}
        </td>
        <td>
          {{values.ws_pat_name}}
        </td>
        <td>
          {{values.ws_age}}
        </td>
        <td>
          {{values.ws_adrs}},{{values.ws_city}},{{values.ws_state}}
        </td>
        <td>
          {{values.ws_doj}}
        </td>
        <td>
          {{values.ws_rtype}}
        </td>
      </tbody>
    </table>

    <script>
      function updateDB() {
        // Selecting the input element and get its value
        var inputVal = document.getElementById("ssn").value;
        window.location.href =
          "http://127.0.0.1:5000/addDiagostics?ssn=" + inputVal;
        // Displaying the value
        //alert(inputVal);
      }
    </script>

    <button type="button" onclick="updateDB();">search</button>

    <hr />
    Diagnostics Conducted
    <table align="center">
      <tr>
        <th>Name of the test</th>
        <th>Amount</th>
      </tr>
      {% for daigon in daigonis %}
      <tr>
        <td>{{daigon.ws_diagn}}</td>
        <td>
          Rs. {% for price in prices %} {% if price.ws_diagn_name ==
          daigon.ws_diagn %} {{ price.ws_diagn_rt }} {% endif %} {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>

    <script>
      function getInputValue() {
        // Selecting the input element and get its value
        var inputVal = document.getElementById("ssn").value;
        window.location.href =
          "http://127.0.0.1:5000/addNewDiagostics?ssn=" + inputVal;
        // Displaying the value
        //alert(inputVal);
      }
    </script>
    <button type="button" onclick="getInputValue();">ADD</button>

    <hr />
    New Diagnostics Conducted
    <table align="center">
      <tr>
        <th>Name of the test</th>
        <th>Amount</th>
      </tr>
      {% for daigon_temp in daigonis_temp %}
      <tr>
        <td>{{ daigon_temp.ws_diagn }}</td>
        <td>
          Rs. {% for price in prices %} {% if price.ws_diagn_name ==
          daigon_temp.ws_diagn %} {{ price.ws_diagn_rt }} {% endif %} {% endfor
          %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <hr />
    <input type="submit" value="UPDATE" />
  </form>
</body>
{% endblock %}
